---
layout: default
title: Tips
---

<div id="container">
    <div id="off-main">
        <div id="nav">
            <h1 id="page-title">Hackathoughts</h1>
            <p id="page-nav-link"><a href="{% link submit.html %}">About / Submit</a></p>
        </div>
        <h2 id="tag-label">Tags</h1>
        <div id="tag-checkboxes">
            <div v-for="tag in tags" class="tag-checkbox">
                <input type="checkbox" v-bind:id="'checkbox-' + tag" v-bind:value="tag" v-model="visibleTags">
                <label v-bind:for="'checkbox-' + tag">[[ tag ]]</label>
            </div>
        </div>
        <button v-on:click="showAll()">Show All</button> <button v-on:click="showNone()">Show None</button>
    </div>

    <main>
        <div v-if="visibleTips.length > 0">
            <div v-for="tip in visibleTips" class="card">
                <p class="card-tip">[[ tip.tipText ]]</p>
                <div class="card-tags">
                    <p v-for="tag in tip.tags" class="card-tag">[[ tag ]]</p>
                </div>
                <p class="card-by">[[ tip.by ]]</p>
                <p class="card-date">[[ tip.date.toLocaleDateString() ]]</p>
            </div>
        </div>
        <div v-else id="paragraph-text">
            <p id="no-cards-message">Woops! No tips found for the categories you've selected.</p>
            <p>Check another category to see some tips.</p>
        </div>
    </main>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="script.js"></script>